<body>
  <div class="container-fluid">
    <app-header></app-header>
  </div>

  <div id="home">
    <section class="first-section">
      <div class="image-section"><img src="../assets/image/img_G4.jpeg" alt=""></div>
      <div class="center"><button class="btn register-btn">Register Now</button>
      </div>
    </section>
    <br />

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <div class="main-heading center">Our Services</div>
        </div>

        <div class="col-sm-12">
          <div id="services">
            <div class="box">
              <img src="../assets/image/Main-Banner-3.jpg" alt="">
              <div class="center section-heading">Healthcare</div>
              <div class="section-text">Primary healthcare is the first point of contact for individuals seeing
                healthcare services. It includes preventive care, health education, diagonis, treatment of common
                illness, and management of chronic conditions. Primary care provider may include family physicians,
                pediatricians, internists, nurse practioners, and physician assistants.</div><br />
              <div class="center">
                <button class="btn register-btn">Register Now</button>
              </div>
            </div>

            <div class="box">
              <img src="../assets/image/rh11.jpg" alt="">
              <div class="center section-heading">Social Welfare</div>
              <div class="section-text">Distribution of primary livelihood items to families for make a healthy life.
              </div>
              <div class="center">
                <button class="btn register-btn">Register Now</button>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-sm-12">
          <div class="main-heading center">Our Gallery</div>
        </div>

        <div class="gallary-flex">
          <div class="client-item">
            <img src="../assets/image/img9.jpeg" alt="">
          </div>
          <div class="client-item">
            <img src="../assets/image/img_G2.jpeg" alt="">
          </div>
          <div class="client-item">
            <img src="../assets/image/img_G1.jpeg" alt="">
          </div>
          <div class="client-item">
            <img src="../assets/image/img_G3.jpeg" alt="">
          </div>
        </div>

        <div class="col-sm-12">
          <div class="section-text center gallery-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem, culpa suscipit error Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus provident fugiat aliquam minima at explicabo. voluptas beatae facilis labore, omnis sint quae eum.</div>
        </div>
      </div>

      

  <section id="contact">
    <div class="main-heading center">Contact Us</div>
    <div class="row">
      <div id="contact-box">
        <form action="">
          <div class="form-group">
            <label for="name">Name: </label>
            <input type="text" name="name" id="name" placeholder="Enter your name">
          </div>
          <div class="form-group">
            <label for="email">Email: </label>
            <input type="email" name="name" id="email" placeholder="Enter your email">
          </div>
          <div class="form-group">
            <label for="phone">Phone Number: </label>
            <input type="phone" name="name" id="phone" placeholder="Enter your phone">
          </div>
          <div class="form-group">
            <label for="message">Message: </label>
            <textarea name="message" id="message" cols="30" rows="4"></textarea>
          </div>

          <button class="btn form-register-btn">Register Now</button>
        </form>
      </div>
    </div>
  </section>
    </div>
</div>
  
<app-footer></app-footer>
</body>