/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
/* Navigation */
body{
    padding: 0px!important;
    margin: 0px!important;
}
@media (min-width: 768px) {
    .navbar-brand.abs
        {
            position: absolute;
            width: auto;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
        }
    }
    .jsc{
        justify-content: center!important;
    }
    .nav-bg{background-color: #f2f2f2!important;
    padding: 15px 0px;}
#navbar {
    flex-direction: column;
}

.navbar-nav .item a{
    color: #333;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-decoration: none;
    padding: 5px 15px;
    margin: 0px 5px;
    
}
.navbar-nav .item a:hover{
    color: #000000;
    background-color: bisque;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-decoration: none;
    padding: 10px 15px;
    margin: 0px 5px;
    border-radius: 10px;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}
/* Home section */
#home{
    height: auto!important; 
    padding: 3px 28px;
}

#home::before{
    height: auto; 
}

#home p{
    font-size: 13px;
}

/* Services section  */
#services{
    flex-direction: column;
}

#services .box { 
    padding: 14px;
    margin: 2px 0px; 
    margin-bottom: 20px;
}

/* Clients section */
#clients{
    flex-wrap: wrap;
}

#clients img{
    width: 86px;
    padding: 12px;
    height: 100%;
}

/* Contact us section */
#contact-box form{
    width:80%;
}
/* Footer */

/* Utility classes */
.h-primary{
    font-size:26px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}
/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/* CSS Variables */
:root{
    --navbar-height: 59px;
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

#navbar::before{
    content: "";
    background-color:rgb(135, 175, 228);
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
    z-index: -1;
    opacity: 0.7;
}

/* Navigation Bar: Logo and Image */



/* Navigation Bar: List Styling */

#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai', cursive;
}

#navbar ul li{ 
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color:black;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: rgb(116, 66, 66);
    background-color: rgb(224, 161, 161);
}

/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    padding:3px 200px;
    height: 550px;
    justify-content: center;
    align-items: center;
}

#home::before{ 
    content: "";
    position: absolute;
    /* background: url('./assets/image/home.jpg') no-repeat center center/cover; */
    height: 672px;
    top:0px;
    left:0px;
    width: 100%;
    z-index: -1;
    opacity:0.89;
}

#home h1{
    color:white;
    text-align: center;
    font-family: 'Bree Serif', serif;
}

#home p{
    color:white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
}
/* Services Section */
#services{
    margin: 34px;
    display: flex;
}
#services .box{ 
    border: 2px solid brown;
    padding: 34px;
    margin: 2px 55px;
    border-radius: 28px;
    background: #f2f2f2;
    margin-bottom: 20px;
}

#services .box img{ 
   height: 160px;
   margin: auto;
   display: block;
   width: 200px;
}

#services .box p{
    font-family: 'Bree Serif', serif;

} 

/* Clients Section */
#client-section{ 
    position: relative;
}

#client-section::before{
 content: "";
 position: absolute;
 /* background: url('../bg.jpg'); */
 /* background: url('./assets/image/img1.jpg') no-repeat center center/cover; */

 width: 100%;
 height: 100%;
 z-index: -1;
 opacity: 0.5;
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item{
    padding: 40px;
}

#clients img{
    height: 240px;
    width: 200px;
}


/* Contact Section */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    /* background: url('../contact.jpg') no-repeat center center/cover; */
    /* background: url('./assets/image/download.jpeg') no-repeat center center/cover; */

}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input, 
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
} 

#contact-box form{
    width: 40%;
}

#contact-box label{
   font-size: 1.3rem;
   font-family: 'Bree Serif', serif;

}


footer{
    background: black;
    color: white;
    padding: 9px 20px;
}

/* Utility Classes */
.h-primary{
    font-family: 'Bree Serif', serif;
    font-size: 2.5rem;
    padding-top: 40px;
}

.h-secondary{
    font-family: 'Bree Serif', serif;
    font-size: 2.3rem;
    padding: 14px;
}

.register-btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor:pointer;
}

.form-register-btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    
    font-size: 1.5rem;
    border-radius: 10px;
    width: 100%;
    cursor:pointer;

}
.center{
    text-align: center;
}
.mybox{
    margin-top: 40px;
}
.newhead{
    display: flex;
}
.emblem{
    display: flex;
 
}
.site_name_english{
    font-size: 3rem;
    font-weight: bold;
    color: #333;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background: linear-gradient(120deg, #77529b, #679bcf);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 5s linear infinite;
     padding-top: 40px;
   
    font-size: 24px;
    color:rgb(26, 153, 212); 
}
/* .sw-logo{
    padding-right: 10px;
} */
.site_logo{
    height: 110px;
    width: 110px;
}

@media only screen and (max-width: 767px) {
    #home{
        height: auto!important; 
        padding: 0px;
       
    }
    #home  img{
        width: 100%!important;
    }

    .site_name_english{
        font-size: 18px;
        line-height: 22px;
        font-weight: bold;
        color: #333;
        position: relative;
        display: inline-block;
        padding: 10px 0px;
        background: linear-gradient(120deg, #77529b, #679bcf);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: gradient 5s linear infinite;
         padding-top: 10px;
               color:rgb(26, 153, 212); 
    }

    /* Services Section */
#services{
    margin: 0px;
    display: flex;
}
#services .box{ 
    border: 2px solid brown;
    padding: 10px 10px;
    margin: 0px 0px;
    border-radius: 28px;
    background: #f2f2f2;
    margin-bottom: 20px;
}

#services .box img{ 
   height: 160px;
   margin: auto;
   display: block;
   width: 200px;
}

.h-primary{
    font-family: 'Bree Serif', serif;
    font-size: 2.5rem;
    padding-top:10px;
}
.h-secondary{
    font-family: 'Bree Serif', serif;
    font-size: 18px;
    line-height: 24px;
    padding: 5px 10px;
}
.client-item{
    padding: 0px;
}


#contact-box form{
    width: 80%;

    
}
#contact-box form .form-register-btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 0px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor:pointer;

}
}