* {
    font-family: 'Montserrat';
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.section-heading{
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    font-weight: 700;
    padding: 15px 0px;
}
.active {
    color: #FFFFFF!important;
    background-color: rgb(247, 146, 24);
    border-radius: 10px;
  }